.extras {
  padding: 46px 0 28px;
  &__title {
    margin-bottom: 9px;
  }
  &__descr {
    margin: 0 auto 56px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 28px;
  }
  &__item {
    grid-column: 4 span;
  }
}
