.extra {
  text-align: center;
  background-color: var(--color-athens);
  border-radius: 16px;
  padding: 41px 10px 0;
  &__info {
    margin-bottom: 30px;
  }
  &__title {
    font-family: "Readex Pro", sans-serif;
    font-size: 28px;
    line-height: 35px;
    color: var(--color-black);
    margin-bottom: 30px;
  }
  &__link {
    display: inline-block;
  }
}
