.goods {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__img {
    margin: 28px 28px 34px;

    @include tablet {
      margin: 0;
    }
    @include mobile {
      width: 200px;
      height: 150px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 41px;

    @include tablet {
      text-align: center;
      padding-right: 0;
    }
  }
  &__title {
    font-family: "Readex Pro", sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: var(--color-black);
    margin-bottom: 9px;
  }
  &__descr {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-tundora);
    padding-bottom: 8px;
    margin-bottom: auto;
  }
  &__price {
    font-size: 18px;
    line-height: 22px;
    color: var(--color-black);
  }

  @include tablet {
    text-align: center;
  }
}
