.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 28px 0 53px;
    background-color: var(--color-light);
  }
  &__btns {
    @include flex-v-center;
  }
  &__search {
    margin-right: 13px;

    @include small-tablet {
      margin-right: 20px;
    }
  }
  &__cart {
    margin-right: 20px;

    @include small-tablet {
      margin-right: 0;
    }
  }
}
