.nav {
  &__list {
    @include flex-v-center;

    @include small-tablet {
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-left: 20px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include tablet {
        margin-right: 30px;
      }
      @include small-tablet {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }
  &__link {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--color-black);
    &-caret {
      position: relative;
      padding-right: 19px;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 12px;
        height: 8px;
        background: url("../img/caret.svg") no-repeat;
        background-position: center;
        background-size: cover;
        transition: transform 0.5s ease-in-out;
      }
      &--active {
        &::after {
          transform: rotate(180deg) translateY(50%);

          @include small-tablet {
            top: 34%;
            transform: rotate(-90deg) translateY(50%);
          }
        }
      }
    }
  }
  &__caret {
    position: absolute;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 25px);
    background-color: var(--color-light);
    border-radius: 10px;
    padding-top: 5px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @include small-tablet {
      left: 110%;
      top: -55%;
      padding: 0;
      width: 100%;
    }
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__caret-item {
    padding: 10px 6px;
    border-radius: 10px;
    &:hover {
      background-color: #ccc;
    }
  }
  &__caret-link {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  @include small-tablet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    background-color: var(--color-light);
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
