<section class="categories">
  <div class="container">
    <div class="categories__wrapper">
      <h2 class="section-title categories__title">
        Shop our latest offers and categories
      </h2>
      <p class="section-subtitle categories__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in
        est dui, aliquam, tempor. Faucibus morbi turpis. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit.
      </p>
      <ul class="list-reset categories__list">
        <li class="categories__item categories__item--1">
          <a class="categories__link categories__link--laptop" href="#">
            <div class="categories__image">
              <picture>
                <source srcset="img/laptop-img.avif" type="image/avif" />
                <source srcset="img/laptop-img.webp" type="image/webp" />
                <img
                  class="categories__img"
                  loading="lazy"
                  src="img/laptop-img.png"
                  width="500"
                  height="377"
                  alt="Laptop Image"
                />
              </picture>
            </div>
            <div class="categories__info">
              <h3 class="categories__name">Laptops</h3>
              <span class="categories__slogan">True Laptop Solution</span>
            </div>
          </a>
        </li>
        <li class="categories__item categories__item--2">
          <a class="categories__link categories__link--phone" href="#">
            <div class="categories__image">
              <picture>
                <source srcset="img/phone-img.avif" type="image/avif" />
                <source srcset="img/phone-img.webp" type="image/webp" />
                <img
                  class="categories__img"
                  loading="lazy"
                  src="img/phone-img.png"
                  width="405"
                  height="367"
                  alt="Phone Image"
                />
              </picture>
            </div>
            <div class="categories__info">
              <h3 class="categories__name">Phones</h3>
              <span class="categories__slogan">Your day to day life</span>
            </div>
          </a>
        </li>
        <li class="categories__item categories__item--3">
          <a class="categories__link categories__link--tablet" href="#">
            <div class="categories__image">
              <picture>
                <source srcset="img/tablet-img.avif" type="image/avif" />
                <source srcset="img/tablet-img.webp" type="image/webp" />
                <img
                  class="categories__img"
                  loading="lazy"
                  src="img/tablet-img.png"
                  width="467"
                  height="425"
                  alt="Tablet Image"
                />
              </picture>
            </div>
            <div class="categories__info">
              <h3 class="categories__name">Tablet</h3>
              <span class="categories__slogan">Empower your work</span>
            </div>
          </a>
        </li>
        <li class="categories__item categories__item--4">
          <a class="categories__link categories__link--watch" href="#">
            <div class="categories__image">
              <picture>
                <source srcset="img/watch-img.avif" type="image/avif" />
                <source srcset="img/watch-img.webp" type="image/webp" />
                <img
                  class="categories__img"
                  loading="lazy"
                  src="img/watch-img.png"
                  width="381"
                  height="270"
                  alt="Watch Image"
                />
              </picture>
            </div>
            <div class="categories__info">
              <h3 class="categories__name">Watch</h3>
              <span class="categories__slogan">Not just stylisht</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
