<section class="extras">
  <div class="container">
    <h2 class="section-title extras__title">See the best around here</h2>
    <p class="section-subtitle extras__descr">
      Our new Limited Edition Winter Design BESPOKE 4-Door Flex™
    </p>
    <ul class="list-reset extras__list">
      <li class="extras__item extra">
        <div class="extra__info">
          <span class="section-subtitle extra__subtitle"
            >Smart light bulb pack</span
          >
          <h3 class="extra__title">Latest and gratest</h3>
          <a class="btn btn--big extra__link" href="#">Explore</a>
        </div>
        <picture>
          <source srcset="img/extra-1.avif" type="image/avif" />
          <source srcset="img/extra-1.webp" type="image/webp" />
          <img
            class="extra__img"
            loading="lazy"
            src="img/extra-1.png"
            width="259"
            height="250"
            alt=""
          />
        </picture>
      </li>
      <li class="extras__item extra">
        <div class="extra__info">
          <span class="section-subtitle extra__subtitle"
            >Smart light bulb pack</span
          >
          <h3 class="extra__title">Best selling</h3>
          <a class="btn btn--big extra__link" href="#">Explore</a>
        </div>
        <picture>
          <source srcset="img/extra-2.avif" type="image/avif" />
          <source srcset="img/extra-2.webp" type="image/webp" />
          <img
            class="extra__img"
            loading="lazy"
            src="img/extra-2.png"
            width="294"
            height="250"
            alt=""
          />
        </picture>
      </li>
      <li class="extras__item extra">
        <div class="extra__info">
          <span class="section-subtitle extra__subtitle"
            >Smart light bulb pack</span
          >
          <h3 class="extra__title">Every product</h3>
          <a class="btn btn--big extra__link" href="#">Explore</a>
        </div>
        <picture>
          <source srcset="img/extra-3.avif" type="image/avif" />
          <source srcset="img/extra-3.webp" type="image/webp" />
          <img
            class="extra__img"
            loading="lazy"
            src="img/extra-3.png"
            width="355"
            height="250"
            alt=""
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
