<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__division">
        <a class="logo footer__logo" href="index.html">
          <img
            class="logo__img"
            src="img/logo.svg"
            alt="Logo"
            width="181"
            height="22"
          />
        </a>
        <p class="footer__descr">
          Sign up for texts to be notified about our best offers on the perfect
          gifts.
        </p>
      </div>
      <ul class="list-reset footer__list">
        <li class="footer__item footer__title">All products</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Phones</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Watch</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Tablet</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Laptops</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item footer__title">Company</li>
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Support</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item footer__title">Support</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Style Guide</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Licensing</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Change Log</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item footer__title">Follow Us</li>
        <li class="footer__item">
          <a class="footer__link" href="#">Instagram</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Facebook</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">LinkedIn</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Youtube</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <span class="footer__inscription"><span>Made By:</span>Azwedo</span>
        <span class="footer__inscription"><span>Powered by:</span>Webflow</span>
      </div>
    </div>
  </div>
</footer>
