<section class="hero">
  <div class="container">
    <div class="hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__slide-info">
              <h2 class="hero__slide-title">
                The new phones are here take a look.
              </h2>
              <p class="hero__slide-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.
              </p>
              <a class="btn hero__slide-link" href="#">Explore</a>
            </div>
            <div class="hero__slide-image">
              <picture>
                <source srcset="img/hero-img.avif" type="image/avif" />
                <source srcset="img/hero-img.webp" type="image/webp" />
                <img
                  class="hero__img"
                  src="img/hero-img.png"
                  width="647"
                  height="550"
                  alt="Phones Picture"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__slide-info">
              <h2 class="hero__slide-title">
                The new phones are here take a look.
              </h2>
              <p class="hero__slide-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.
              </p>
              <a class="btn hero__slide-link" href="#">Explore</a>
            </div>
            <div class="hero__slide-image">
              <picture>
                <source srcset="img/hero-img.avif" type="image/avif" />
                <source srcset="img/hero-img.webp" type="image/webp" />
                <img
                  class="hero__img"
                  src="img/hero-img.png"
                  width="647"
                  height="550"
                  alt="Phones Picture"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__slide">
            <div class="hero__slide-info">
              <h2 class="hero__slide-title">
                The new phones are here take a look.
              </h2>
              <p class="hero__slide-descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Scelerisque in est dui, aliquam, tempor. Faucibus morbi turpis.
              </p>
              <a class="btn hero__slide-link" href="#">Explore</a>
            </div>
            <div class="hero__slide-image">
              <picture>
                <source srcset="img/hero-img.avif" type="image/avif" />
                <source srcset="img/hero-img.webp" type="image/webp" />
                <img
                  class="hero__img"
                  src="img/hero-img.png"
                  width="647"
                  height="550"
                  alt="Phones Picture"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__pagination"></div>
      <div class="hero__btn hero__prev">
        <img
          src="img/prev-arrow.svg"
          alt="Previous Image Arrow"
          width="14"
          height="26"
        />
      </div>
      <div class="hero__btn hero__next">
        <img
          src="img/next-arrow.svg"
          alt="Next Image Arrow"
          width="14"
          height="26"
        />
      </div>
    </div>
  </div>
</section>
