<section class="ideas">
  <div class="container">
    <h2 class="section-title ideas__title">Ideas have a place here</h2>
    <p class="section-subtitle ideas__descr">
      Our new Limited Edition Winter Design BESPOKE 4-Door Flex™
    </p>
    <div class="ideas__wrapper">
      <div class="ideas__image">
        <picture>
          <source srcset="img/ideas-img.avif" type="image/avif" />
          <source srcset="img/ideas-img.webp" type="image/webp" />
          <img
            class="ideas__img"
            loading="lazy"
            src="img/ideas-img.jpg"
            width="620"
            height="420"
            alt=""
          />
        </picture>
      </div>
      <div class="ideas__info">
        <p class="ideas__text">
          We Make It Easy To Find The Great Design Talent, Easier...
        </p>
        <p class="ideas__text">
          Road Design Handbook For The International Road...
        </p>
        <p class="ideas__text">The Best Kept Secrets About Creative People</p>
        <p class="ideas__text">
          We Make It Easy To Find The Great Design Talent, Easier...
        </p>
      </div>
    </div>
    <div class="ideas__link-wrapper">
      <a class="ideas__link" href="#">See all</a>
    </div>
  </div>
</section>
