<section class="newsletter">
  <div class="container">
    <div class="newsletter__wrapper">
      <h2 class="section-title newsletter__title">Never miss a thing</h2>
      <p class="newsletter__descr">
        Sign up for texts to be notified about our best offers on the perfect
        gifts.
      </p>
      <picture>
        <source srcset="img/extra-2.avif" type="image/avif" />
        <source srcset="img/extra-2.webp" type="image/webp" />
        <img
          class="newsletter__img"
          loading="lazy"
          src="img/extra-2.png"
          width="233"
          height="200"
          alt=""
        />
      </picture>
      <form class="newsletter__form" action="#">
        <input
          class="newsletter__input"
          type="email"
          placeholder="Your email"
          required
        />
        <button class="btn-reset newsletter__btn" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</section>
