<section class="popular">
  <div class="container">
    <h2 class="section-title popular__title">Save on our most selled items.</h2>
    <p class="section-subtitle popular__descr">
      Our new Limited Edition Winter Design BESPOKE 4-Door Flex™
    </p>
    <ul class="list-reset popular__list">
      <li class="popular__item">
        <a class="popular__link goods" href="#">
          <picture>
            <source srcset="img/mac-book-pro.avif" type="image/avif" />
            <source srcset="img/mac-book-pro.webp" type="image/webp" />
            <img
              class="goods__img"
              loading="lazy"
              src="img/mac-book-pro.png"
              width="247"
              height="214"
              alt="MacBook Pro 13"
            />
          </picture>
          <div class="goods__info">
            <h3 class="goods__title">MacBook Pro 13</h3>
            <p class="goods__descr">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet
            </p>
            <span class="goods__price">$ 1,200.00 USD</span>
          </div>
        </a>
      </li>
      <li class="popular__item">
        <a class="popular__link goods" href="#">
          <picture>
            <source srcset="img/galaxy-watch.avif" type="image/avif" />
            <source srcset="img/galaxy-watch.webp" type="image/webp" />
            <img
              class="goods__img"
              loading="lazy"
              src="img/galaxy-watch.png"
              width="247"
              height="214"
              alt="Smart Galaxy Watch 3"
            />
          </picture>
          <div class="goods__info">
            <h3 class="goods__title">Smart Galaxy Watch 3</h3>
            <p class="goods__descr">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit...
            </p>
            <span class="goods__price">$ 199.00 USD</span>
          </div>
        </a>
      </li>
      <li class="popular__item">
        <a class="popular__link goods" href="#">
          <picture>
            <source srcset="img/mac-book-air.avif" type="image/avif" />
            <source srcset="img/mac-book-air.webp" type="image/webp" />
            <img
              class="goods__img"
              loading="lazy"
              src="img/mac-book-air.png"
              width="247"
              height="214"
              alt="MacBook Air M1"
            />
          </picture>
          <div class="goods__info">
            <h3 class="goods__title">MacBook Air M1</h3>
            <p class="goods__descr">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit...
            </p>
            <span class="goods__price">$ 1,009.00 USD</span>
          </div>
        </a>
      </li>
      <li class="popular__item">
        <a class="popular__link goods" href="#">
          <picture>
            <source srcset="img/ipad.avif" type="image/avif" />
            <source srcset="img/ipad.webp" type="image/webp" />
            <img
              class="goods__img"
              loading="lazy"
              src="img/ipad.png"
              width="247"
              height="214"
              alt="iPad"
            />
          </picture>
          <div class="goods__info">
            <h3 class="goods__title">iPad</h3>
            <p class="goods__descr">
              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
              consectetur, adipisci velit...
            </p>
            <span class="goods__price">$ 610.00 USD</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
