<section class="searchfield">
  <div class="container">
    <div class="searchfield__wrapper">
      <h2 class="section-title searchfield__title">
        Looking for anything else?
      </h2>
      <form class="searchfield__form" action="#">
        <button
          class="btn-reset searchfield__btn"
          type="submit"
          aria-label="Search Button"
        ></button>
        <input
          class="searchfield__search"
          type="search"
          placeholder="Search keyword"
        />
      </form>
      <div class="searchfield__tags">
        <button class="btn-reset searchfield__tag" type="submit">iPhone</button>
        <button class="btn-reset searchfield__tag" type="submit">
          Charger
        </button>
        <button class="btn-reset searchfield__tag" type="submit">Gift</button>
        <button class="btn-reset searchfield__tag" type="submit">
          Google Pixel 3
        </button>
        <button class="btn-reset searchfield__tag" type="submit">
          Keyboard
        </button>
        <button class="btn-reset searchfield__tag" type="submit">
          13 Pro Max
        </button>
        <button class="btn-reset searchfield__tag" type="submit">
          iPhone 12
        </button>
        <button class="btn-reset searchfield__tag" type="submit">Laptop</button>
        <button class="btn-reset searchfield__tag" type="submit">Mobile</button>
      </div>
    </div>
  </div>
</section>
