:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1294px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-black: #000;
  --color-athens: #f8f9fa;
  --color-tundora: #4b4b4b;
  --color-nebula: #dce5e2;
  --color-light-blue: #80a6ff;
}
